table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/*If i want to alternate the background colour of a table to increase readability*/
tr:nth-child(even) {
  background-color: #dddddd;
}
